:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-grey: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --special-low-gray: rgba(0, 0, 0, 0.3);
    --special-for-filter-name: #DCDCDC;
}


a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.hide {
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 61px;
}

.nav-container {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 61px;
}


.footer-act {
    list-style: none;
    display: flex;
    padding: 0;
    grid-column: 2/4;
    margin-left: auto;
}

.footer-act-compare {
    margin-left: 40px;
}

.footer-act-cart {
    margin-left: 40px;
}
.main-socialy {
    list-style: none;
}


.main-header {
    background-color: var(--special-yellow);
    min-height: 206px;
    width: 1160px;
    margin: 0 auto;
}



.header-login {
   margin-left: 398px; 
}

.header-compare {
    margin-left: 216px;
}

.header-cart-catalog {
    margin-left: 44px;
}

.header-compare-catalog {
    margin-left: 109px;
}

.header-login-name {
    margin-left: 398px; 
 }

 .header-logout {
    margin-left: 20px; 
 }

.header-cart {
    margin-left: 41px;
}

.main-btns {
    list-style: none;
}

.main-logo {
    margin-left: 60px;
}

.header-search input[placeholder] {
    font-family: inherit;
    font-weight: inherit;
    color: var(--special-low-gray);
}

.header-delivery {
    margin-left: 314px;
}


.header-guarantee {
    margin-left: 38px;
}

.header-contacts {
    margin-left: 111px;
}

.nav-item a, .nav-catalog a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.nav-a-li a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.about h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about p {
    line-height: 28px;
}

.contacts h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.contacts p {
    line-height: 28px;
}

.about-delivery-services li {
    list-style: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.btn {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    background: var(--special-yellow-dark);
    border: none;
}

.address {
    color: var(--basic-white);
}

.main-footer {
    background: var(--basic-dark);
    height: 324px;
    width: 100%;
}

.footer-nav-btn a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-nav-item a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

.main-footer .number {
    color: var(--basic-white);
    margin-top: 40px;
    text-align: right;
}


.page-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.bread-crumb a{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}

.bread-crumb:not(:first-child) {
    margin-left: 16px;
}

.filter label {
    font-size: 14px;
    line-height: 19px;
}

.filter legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.product-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.product-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.sort-main {
    background-color: var(--basic-grey-light);
    width: 328px;
    grid-row: 1/3;
}

.page-nav-link {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 25px;
}

.page-nav-number-link a{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page-nav-number-link-next a{
    opacity: 0.3;
}

.page-nav {
    background-color: #EBEBEB;
    flex-grow: 1;
    height: 70px;
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 78px;
}

.page-nav-items {
    margin: auto;
    display: flex;
    list-style: none;
    width: 85px;
    padding: 0;
    justify-content: space-between;
}

.page-nav-link-back {
    margin-left: 30px;
}

.page-nav-link-forward {
    margin-right: 30px;
}

.nav-btn a{
    color: var(--basic-black);
}

.search-button {
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    color: var(--basic-black);
}

.promo-products a{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.promo-products {
    width: 1160px;
    margin: 0 auto;
    margin-top: 116px;
}

.promo-products-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.promo-products-container li {
    width: 160px;
}

.about-slider .h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about-slider {
    display: flex;
    /* justify-content: space-between; */
    width: 1160px;
    min-height: 288px;
    margin: 0 auto;
    background: var(--basic-grey-light);
    margin-top: 184px;
}

.about-slider h2 {
    margin: 0;
}

.about-slider .button-container {
    width: 160px;
    margin-right: 264px;
}

.button-container .about-btn:not(:first-child) {
    margin-top: 30px;
}

.main-slider .slider-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.about p {
    line-height: 28px;
}

.feature {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}
.feature .characteristic {
    font-size: 36px;
    line-height: 42px;
}

.feature .characteristic-name {
    font-size: 13px;
    line-height: 15px;
}

.filter .h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sort .name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}



.sort .sort-by-active {
    opacity: 1;
}

.filter-price-legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;  
}

.about-btn {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    background: var(--special-yellow-dark);
    border: 0;
}

.about-and-contacts {
    height: 580px;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 147px;
}

.about {
    width: 473px;
}

.contacts {
    width: 560px;
}
.footer-logo {
    display: block;
    padding-top: 2px;
}

.bread-crumb-container {
    margin: 0 auto;
    width: 1160px;
    padding-left: 60px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.bread-crumbs {
    display: flex;
}

.sort {
    background: var(--basic-grey-light);
    display: flex;
    justify-content: space-between;
}

.sort .sort-by-container {
    display: flex;
    list-style: none;
    color: var(--basic-black);
    margin: auto 0;
    padding: 0;
}

.sort .sort-by {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
}

.sort-by {
    padding-left: 30px;
}

.sort-by-active {
    padding-left: 0;
}

.sort-name {
    margin: auto 0;
    padding: 0;
    padding-left: 72px;
}

.sort-main fieldset {
    border: 0;
}

.products {
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.product {
    margin-left: 40px;
}

.filter-name-container {
    background: var(--special-for-filter-name);
    height: 70px;
}


.filter-name {
    padding: 0;
    margin: 0;
    padding-top: 25px;
    padding-left: 200px;
}

.footer-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer-container {
    padding-top: 46px;
    margin: 0 auto;
    width: 1160px;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
}

.address {
    margin-top: 40px;
}

.footer-nav-guarantee {
    margin-left: 36px;
}

.footer-nav-contacts {
    margin-left: 36px;
}

.htmlacademy-container {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.htmlacademy {
    margin-right: 70px;
}

.social-footer-container {
    margin: 0 auto;
    width: 1160px;
    margin-top: 67px;
}

.header-logout a{ 
    font-size: 15px;
    line-height: 20px;
    color: var(--special-low-gray);
 }

 .footer-act-logout {
     margin-left: 24px;
 }

.main-catalog-container {
    margin-top: 50px;
    display: grid;
    max-width: 1160px;
     /* grid-template-rows: auto 1214px;  */
    margin: 0 auto;
}

.filter {
    display: block;
    margin: 0 auto;

}

.main-slide {
    margin: 0 auto;
    width: 989px;
}


.main-slide .slider-name {
    padding-top: 52px;
    margin: 0;
}

.main-slide .slider-text {
    padding-top: 30px;
}

.main-slide .btn {
    display: block;
    width: 220px;
    text-align: center;
    margin-top: 60px;
}

.main-slide .features {
    padding: 0;
    margin-top: 60px;
    display: flex;
    margin: 0 auto;
    width: 444px;
    padding-top: 60px;
    justify-content: space-between;
    list-style: none;
}

.main-slide {
    display: grid;
}

.main-slide  .about-product {
    width: 492px;
    margin-left: 127px;
}

.main-slider {
    list-style: none;
}

.partners {
    width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
}

.partners ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}