:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-grey: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --special-low-gray: rgba(0, 0, 0, 0.3);
    --special-extralow-gray: #DCDCDC;
    --special-yellow-light: #F7E296;
    --special-extra-gray: #D9D9D9;
    --special-contact-form: #F2F2F2;
    --special-social-icons: #FFC600;
    --special-range: #C4C4C4;
    --special-page-nav: #EBEBEB;
    --special-015-black: rgba(0, 0, 0, 0.15);
    --contact-form-close: rgba(247, 226, 150, 0.7);
    --contact-form-close-light: rgba(247, 226, 150, 1);
    --special-04-black: rgba(0, 0, 0, 0.4);
    --special-footer-nav: rgba(255, 255, 255, 0.7);
    --special-02-black: rgba(0, 0, 0, 0.2);
    --special-018-black: rgba(0, 0, 0, 0.18);
    --special-06-black: rgba(0, 0, 0, 0.6);
}


a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.hide {
    display: none;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 61px;
    margin-top: 24px;
}

.nav-container {
    position: relative;
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 61px;
    margin-top: 48px;
}

.main-socialy {
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 136px;
    display: flex;
    margin: 0 auto;
}

.social-item:not(:last-of-type) {
    margin-right: 20px;
}
.facebook::before {
    content: url(../img/facebook.svg);
}

.instagram::before {
    content: url(../img/instagram.svg);
}

.twitter::before {
    content: url(../img/twitter.svg);
}

.what-we-can {
    margin-top: 42px;
}

.main-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    margin-top: -25px;
}

.nav-item a, .nav-catalog a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.about .about-heading {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin-top: 50px;
}

.about p {
    line-height: 28px;
}

.contacts .contacts-heading {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin-top: 52px;
}

.contacts p {
    line-height: 28px;
}

.about-delivery-services {
    padding: 0;
    margin-top: 57px;
}

.about-delivery-services li {
    list-style: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    border: none;
    background: none;
    padding-left: 24px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    min-width: 200px;
    z-index: 0;
}

.btn::after {
    height: 8px;
    content: "";
    background: var(--special-yellow-dark);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -4px;
    z-index: -1;
}

.btn:hover {
    background: var(--special-yellow-dark);
}

.btn-more-about-container {
    margin-top: 70px;
    margin-bottom: 76px;
}

.btn-write-us-container {
    margin-top: 70px;
    margin-bottom: 76px;
}

.btn-write-us {
    width: 215px;
}

.page-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.filter label {
    font-size: 14px;
    line-height: 19px;
}

.filter h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.range {
    margin-top: 27px;
    position: relative;
}

.range-line {
    width: 200px;
    height: 2px;
    background-color: var(--special-02-black);
}

.range-line-selected {
    width: 113px;
    height: 2px;
    background-color: var(--special-green); 
}

.range-button {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: -8px;
    z-index: 3;
    width: 20px;
    height: 20px;
    background: var(--basic-white);
    border-radius: 50%;
    box-shadow: 0px 2px 2px var(--special-018-black);
    border: none;
    cursor: pointer;
}

.range-button-more {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: -8px;
    left: 113px;
    z-index: 3;
    width: 20px;
    height: 20px;
    background: var(--basic-white);
    border-radius: 50%;
    box-shadow: 0px 2px 2px var(--special-018-black);
    border: none;
    cursor: pointer;
}

.range-button-less::after, .range-button-more::after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background: var(--special-range); 
}

.product-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
    margin-top: 29px;
}

.product-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
    margin-left: auto;
    margin-top: 31px;
    width: 83px;
    margin-right: -2px;
    white-space: nowrap;
}

.sort-main {
    background-color: var(--basic-grey-light);
    width: 328px;
    grid-row: 1/3;
}

.page-nav-link {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 25px;
}

.page-nav-number-link a{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page-nav-number-link-next a{
    opacity: 0.3;
}

.page-nav-number-link-next a:hover {
    opacity: 0.6;
}

.page-nav-number-link-next a:active {
    opacity: 1;
}

.page-nav {
    background-color: var(--special-page-nav);
    flex-grow: 1;
    height: 70px;
    display: flex;
    margin-left: 40px;
    margin-top: 22px;
    margin-bottom: 78px;
    flex-basis: 100%;
}

.page-nav-items {
    margin: auto;
    display: flex;
    list-style: none;
    width: 85px;
    padding: 0;
    justify-content: space-between;
}

.page-nav-link-back {
    padding-left: 30px;
    width: 90px;
}

.page-nav-link-back:hover {
    background: var(--special-extra-gray);
}

.page-nav-link-back:active {
    opacity: 0.3;
    background: var(--special-extra-gray);
}

.page-nav-link-forward {
    padding-right: 29px;
    width: 90px;
    text-align: right;
}

.page-nav-link-forward:hover {
    background: var(--special-extra-gray);
}

.page-nav-link-forward:active {
    opacity: 0.3;
    background: var(--special-extra-gray);
}

.nav-btn a{
    color: var(--basic-black);
}

.promo-product {
    width: 160px;
}

.promo-products a{
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

.promo-products {
    width: 1160px;
    margin: 0 auto;
    margin-top: 94px;
}

.promo-products-container {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.promo-products-container li {
    width: 160px;
    letter-spacing: 0.05em;
}

.promo-product.promo-product-fitnes {
    letter-spacing: 0em;
}

.promo-product a::before {
    margin-bottom: 32px;
}

.promo-product a:hover::before {
    background-color: var(--special-yellow-dark);
}

.promo-product a:active::before {
    background-color: var(--special-yellow-dark);
}

.promo-product a:active {
    opacity: 0.3;
}

.promo-product-virtual a::before {
    background: url(../img/virtual.svg) no-repeat center center;
}

.promo-product-monopod a::before {
    background: url(../img/monopod.svg) no-repeat center center;
}

.promo-product-ekshn a::before {
    background: url(../img/ekshn.svg) no-repeat center center;
}

.promo-product-fitnes a::before {
    background: url(../img/fitnes.svg) no-repeat center center;
}

.promo-product-clock a::before {
    background: url(../img/clock.svg) no-repeat center center;
}

.promo-product-quadcopter a::before {
    background: url(../img/quadcopter.svg) no-repeat center center;
}


.promo-product a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow-light);
}

.about-slider .h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about-slider {
    display: flex;
    min-height: 288px;
    margin: 0 auto;
    background: var(--basic-grey-light);
    margin-top: 184px;
}

.about-slider-container {
    display: flex;
    width: 1160px;
    min-height: 288px;
    margin: 0 auto;
    background: var(--basic-grey-light);
}

.about-slider .slide::after {
    content: "";
    position: absolute;
    background: url(../img/courier.svg);
    top: -1px;
    right: -267px;
}

.about-slider .slide {
    margin-top: -30px;
    position: relative;
}

.about-slider .slide-delivery::after {
    width: 136px;
    height: 164px;
    background: url(../img/courier.svg);
}

.about-slider .slide-guarantee::after {
    width: 171px;
    height: 195px;
    background: url(../img/guarantee.svg);
}

.about-slider .slide-credit::after {
    width: 156px;
    height: 188px;
    background: url(../img/credit.svg);
}

.about-content {
    margin-top: 42px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.about-slider h2 {
    margin: 0;
}

.about-slider .button-container {
    width: 160px;
    margin-right: 240px;
    margin-top: -20px;
    margin-left: 1px;
    position: relative;
}

.about-slider .button-container::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 320px;
    left: 417px;
    top: 15px;
    background: var(--basic-black);
    left: 277px;
    top: -80px;
}

.about-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black);
    border: none;
    background: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    width: 160px;
    box-sizing: border-box;
    z-index: 0;
}

.about-btn::after {
    height: 8px;
    content: "";
    background: var(--special-yellow-dark);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -4px;
    z-index: -1;
}

.about-btn:hover {
    background: var(--special-yellow-dark);
}

.about-btn-active {
    background: var(--basic-black);
    width: 277px;
    color: var(--special-yellow);
    text-align: left;
    padding-left: 0px;
    padding-right: 115px;
    text-align: center;
}

.about-btn-active::after {
    background: none;
}

.about-btn-active:hover {
    background: var(--basic-black);
}

.button-container .about-btn:not(:first-of-type) {
    margin-top: 22px;
}

.main-slider .slider-name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    z-index: 100;
    position: relative;
}

.about p {
    line-height: 28px;
}

.feature {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}

.feature .characteristic {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.feature .characteristic-what {
    display: inline-block;
    vertical-align: middle;
    margin-top: 16px;
    letter-spacing: 0.1em;
}

.sort .name {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sort .sort-by-active {
    opacity: 1;
}

.filter-price-heading {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    display: inline-block;
    vertical-align: middle;
}

.filter-color::before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: var(--basic-black);
    margin-top: 38px;
    margin-bottom: 14px;
}

.filter-price-heading::before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: var(--basic-black);
    margin-top: 38px;
    margin-bottom: 14px;
}

.filter-bluetooth::before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: var(--basic-black);
    margin-top: 23px;
    margin-bottom: 14px;
}

.filter-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 17px;
    display: inline-block;
    vertical-align: middle;
}

.filter-price-min {
    margin-right: 67px;
}

.about-and-contacts {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.about {
    width: 473px;
}

.contacts {
    width: 560px;
}

.contacts-map {
    margin-top: 26px;
}

.bread-crumb-container {
    margin: 0 auto;
    width: 1160px;
    padding-left: 60px;
    box-sizing: border-box;
    margin-top: 44px;
    margin-bottom: 50px;
}


.bread-crumb{
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.bread-crumb:not(:first-child) {
    margin-left: 16px;
}

.bread-crumbs {
    display: flex;
}

.bread-crumb {
    opacity: 0.3;
    color: var(--basic-black);
}

.bread-crumb:not(span):hover {
    opacity: 0.6;
}

.bread-crumb:not(span):active {
    opacity: 0.1;
}

.bread-crumb:not(.bread-crumb-now)::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 6px;
    width: 4px;
    background: url(../img/bread-crumb.svg);
}

.bread-crumb:first-of-type::after, .bread-crumb:nth-of-type(2)::after {
    margin-left: 20px;
}

.sort {
    background: var(--basic-grey-light);
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.sort .sort-by-container {
    display: flex;
    list-style: none;
    color: var(--basic-black);
    margin: auto 0;
    padding: 0;
    margin-right: 145px;
}

.sort .sort-by {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}

.sort .sort-by:hover {
    opacity: 1;
    opacity: 0.6;
}

.sort .sort-by:active {
    opacity: 1;
}

.sort-by {
    padding-left: 30px;
}

.sort .sort-by-active {
    opacity: 1;
    padding-left: 0;
}

.sort-name {
    margin: auto 0;
    padding: 0;
    padding-left: 72px;
}

.sort-navigate {
    list-style: none;
    padding: 0;
    display: flex;
}

.sort-navigate .up, .sort-navigate .down {
    opacity: 0.2;
}

.sort-navigate .up:hover, .sort-navigate .down:hover {
    opacity: 0.4;
}

.sort-navigate .up:active, .sort-navigate .down:active {
    opacity: 1;
}

.sort-navigate a::after {
    content: "";
    width: 10px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 13px;
    background-repeat: no-repeat;
}

.up a::after{
    background-image: url(../img/up.svg);
    margin-right: 24px;
}

.down a::after{
    background-image: url(../img/down.svg);
    margin-right: 5px;
}

.sort-main fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.products {
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 70px;
    margin-left: 32px;
}

.product {
    margin-left: 40px;
    margin-top: 35px;
    width: 360px;
    position: relative;
}

.product:hover img{
    opacity: 0.3;
}

.product:hover .product-menu {
    display: block;
}

.btn-to-cart:active {
    opacity: 0.3;
}

.product-menu {
    display: none;
    position: absolute;
    bottom: 238px;
    left: 54px;
    z-index: 100;
}

.product-menu-compare {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: var(--basic-black);
    text-align: center;
    opacity: 0.5;
    margin-top: 22px;
}

.product-menu-compare:hover {
    opacity: 1;
}

.product-menu-compare:active {
    opacity: 0.2;
}

.product:first-of-type {
    margin-top: 0;
}

.product:nth-of-type(2) {
    margin-top: 0;
}

.product-link {
    display: flex;
    flex-wrap: wrap;
}

.product-new {
    position: relative;
}

.product-new::before {
    right: 27px;
    top: 29px;
    position: absolute;
    display: block;
    content: "";
    width: 62px;
    height: 62px;
    background: url(../img/new.svg) no-repeat right top;
}

.filter-name-container {
    background: var(--special-extralow-gray);
    height: 70px;
}

.filter-name {
    padding: 0;
    margin: 0;
    padding-top: 23px;
    padding-right: 130px;
    width: 75px;
    margin: auto;     
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}

.address {
    font-style: normal;
    margin-top: 22px;
    color: var(--basic-white);
}

.main-catalog-container {
    margin-top: 50px;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    background-image: 
        linear-gradient(to bottom, var(--special-extralow-gray) 70px, var(--basic-grey-light) 70px),
        linear-gradient(to bottom, var(--basic-grey-light) 70px, var(--basic-white) 70px);
    background-repeat: no-repeat no-repeat;
    background-size: 50% 100%, 100% 100%;
    background-position: -300px 0, 0 0;
}

.filter {
    display: block;
    margin-left: 60px;
    margin-top: 20px;
}

.main-slide {
    width: 989px;
    min-height: 496px;
    margin: 0 auto;
    display: flex;
}

.main-slider {
    list-style: none;
    margin: 0 auto;
    width: 1120px;
    counter-reset: section;
}

.main-slide-container {
    background-image: linear-gradient(var(--special-yellow) 114px, var(--basic-white) 114px);
    list-style: none;
    position: relative;
    margin: 0 auto;
    width: 1160px;
}

.slide-hide {
    visibility: hidden;
    position: absolute;
}

.main-slide::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 100px;
    height: 7px;
    left: 601px;
    top: 21px;
    background: var(--basic-white);
}

.main-slide::after {
    counter-increment: section;
    content: "0" counter(section);
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    color: var(--basic-white);
    position: absolute;
    left: 933px;
    top: -30px;
}

.main-slide-nav {
    position: absolute;
    right: 87px;
    top: 317px;
}

.main-slide-nav ul {
    list-style: none;
    display: flex;
    width: 72px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.main-slide-nav-button {
    display: inline-block;
    vertical-align: middle;
    background: none;
    box-sizing: border-box;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--basic-black);
    border-radius: 60%;
}

.main-slide-nav-button-checked::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid var(--basic-black);
    box-sizing: border-box;
    border-radius: 60%;
    position: absolute;
    right: 63px;
    bottom: 3px;
}

.main-slide .slider-name {
    padding-top: 52px;
    margin: 0;
}

.main-slide .slider-text {
    padding-top: 10px;
}

.main-slide .btn {
    margin-top: 38px;
    min-width: 177px;
}

.main-slide .features {
    padding: 0;
    margin-top: 50px;
    display: flex;
    width: 444px;
    justify-content: space-between;
    list-style: none;
}

.main-slide-img {
    margin-left: -15px;
    margin-top: -14px;
    width: 526px;
    height: 486px;
}

.main-slide-fitnes .main-slide-img {
    margin-top: 10px;
    margin-left: 11px;
}

.main-slide-fitnes::after, .main-slide-quadrocopter::after {
    left: 901px;
}

.main-slide  .about-product {
    width: 492px;
    margin-left: -15px;
    margin-top: 27px;
}


.main-slide-fitnes .about-product {
    margin-left: -42px;
}

.main-slide-quadrocopter .main-slide-img {
    margin-top: 65px;
    height: 334px;
    margin-left: -75px;
}

.main-slide-quadrocopter .about-product {
    margin-left: 45px;
}

.partners {
    width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
}

.partners ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.partners li{
    filter: grayscale(100%);
}

.partners li:hover {
    filter: grayscale(0%);
}

.map-container {
    position: fixed;
    width: 994px;
    height: 593px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
}

.map-iframe {
    width: 994px;
    height: 593px;
    background-image: url(../img/map-iframe.png);
    background-repeat: no-repeat;
    border: none;
}

/* Contact form  */

.contact-form {
    width: 960px;
    min-height: 550px;
    padding-top: 16px;
}

.contact-form input, .contact-form textarea {
    border: none;
}

.contact-form-container {
    position: fixed;
    width: 960px;
    height: 550px;
    background: var(--basic-white);
    box-shadow: 0px 10px 16px var(--special-015-black);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
}

.contact-form-close {
    width: 55px;
    height: 55px;
    margin-left: 885px;
    margin-top: 20px;
    background: url(../img/button_close.svg) no-repeat center center var(--contact-form-close);
    border-radius: 50%;
    border: none;
}

.contact-form-close:hover {
    background-color: var(--contact-form-close-light);
}

.contact-form-close:active {
    background-color: var(--contact-form-close);
}

.contact-form-label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

.contact-form-send {
    margin-left: 100px;
    margin-top: 45px;
    padding-left: 19px;
}

.contact-form-input {
    background: var(--special-contact-form);
    margin-top: 10px;
    width: 340px;
    height: 50px;
    padding-left: 20px;
}

.contact-form-input::placeholder {
    padding-left: 20px;
}

.contact-form-name-email {
    display: flex;
    width: 760px;
    justify-content: space-between;
    margin: 0 auto;
}

.contact-form-text {
    display: block;
    padding-top: 30px;
    margin: 0 auto;
    width: 760px;
}

.contact-form-message {
    width: 740px;
    height: 150px;
    padding-top: 16px;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--special-04-black);
}

/* Contact form END */

.about::before {
    content: "";
    width: 80px;
    height: 7px;
    display: block;
    background: var(--basic-black);

}

.contacts::before {
    content: "";
    width: 80px;
    height: 7px;
    display: block;
    background: var(--basic-black);

}

.about-delivery-services li::before {
    content: url("../img/li.svg");
    box-sizing: border-box;
    margin-right: 24px;
}

.about-delivery-services li:not(:first-child) {
    margin-top: 15px;
}

/* Inputs  (filter) */

.filter ul {
    list-style: none;
}

.label-for-checkbox::before {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    content: "";
    width: 24px;
    height: 24px;
    border: 3px solid var(--basic-black);
    margin-right: 18px;
    margin-top: 3px;
}

input:checked + .label-for-checkbox::before {
    background: url(../img/checked.svg) no-repeat center center;
}

.label-for-checkbox:hover, .radio-button:hover {
    opacity: 0.6;
}

.label-for-checkbox:disabled, .radio-button:disabled {
    opacity: 0.25;
}

.radio-container:not(:first-of-type) {
    margin-top: 16px;
}

.filter-ul {
    padding: 0;
    width: 120px;
    margin-top: 25px;
}


.filter-ul li{
    padding: 0;
    width: 120px;
    margin-bottom: 12px;
}

.bluetooth-filter-ul {
    padding: 0;
    margin-top: 28px;
}

.btn-filter-show {
    margin-top: 28px;
    padding-left: 15px;
}

.radio-button::before {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 16px;
    content: "";
    width: 24px;
    height: 24px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
}

input:checked + .radio-button::before {
    background: url(../img/checked-radio.svg) no-repeat center center;
}

/* Inputs(filter) END  */

/* Header  */

.main-header {
    background-color: var(--special-yellow);
    min-height: 186px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.site-search {
    background: none;
    border: none;
    margin-left: 20px;
    color: var(--basic-black);
    color: var(--special-low-gray);
    position: relative;
}

.site-search-form::before {
    position: relative;
    display: inline-block;
    content: "";
    height: 12px;
    width: 12px;
    background: url(../img/search.svg) no-repeat center center;
}

.site-search-form {
    position: relative;
}

.site-search-form:focus-within .search-button {
    display: inline-block;
    vertical-align: middle;
}

.site-search-form:focus-within .search-button::after {
    display: inline-block;
}

.search-button:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active {
    opacity: 0.3;
}

.search-button::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -2px;
    left: -290px;
    width: 290px;
    height: 2px;
    background-color: var(--basic-black);
}

.search-button {
    display: none;
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    color: var(--basic-black);
    position: absolute;
    bottom: -10px;
    right: -150px;
    background: none;
    position: absolute;
    width: 84px;
    height: 50px;
    border: 2px solid var(--basic-black);
}

.site-search:hover::placeholder{
    color: var(--special-06-black);
}

.site-search:focus {
    color: var(--basic-black);
}

.header-compare {
    margin-left: 216px;
    padding-left: 23px;
    background: url(../img/compare.svg) no-repeat center left;
}

.header-cart-catalog {
    margin-left: 43px;
}

.catalog-menu-items {
    display: none;
    padding-top: 18px;
    position: absolute;
    left: -60px;
    width: 1160px;
    min-height: 163px;
    background: var(--special-yellow);
    z-index: 10000;
}

.nav-catalog:hover .catalog-menu-items {
    display: block;
}

.catalog-menu-items a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-black);
    letter-spacing: 0em;
    text-transform: none;
}

.catalog-menu-items a:hover {
    opacity: 0.6;
}

.catalog-menu-items a:active {
    opacity: 0.3;
}

.catalog-menu-items-col-1 {
    margin-top: 18px;
    display: flex;
    width: 530px;
    justify-content: space-between;
    margin-left: 60px;
}

.catalog-menu-items-col-2 {
    margin-top: 20px;
    display: flex;
    width: 333px;
    justify-content: space-between;
    margin-left: 60px;
}

.catalog-menu-items-col-3 {
    margin-top: 20px;
    display: flex;
    width: 102px;
    justify-content: space-between;
    margin-left: 60px;
}

.nav-container ul {
    list-style: none;
    padding: 0;
}

.catalog-menu::after {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
    background: url(../img/plus.svg) no-repeat center center;
}


.header-cart-catalog::before {
    content: url(../img/cart.svg);
    padding-right: 12px;
}


.header-compare-catalog {
    margin-left: 65px;
}

.header-compare-catalog::before {
    content: url(../img/compare.svg);
    padding-right: 14px;
}

.header-login-name {
    margin-left: 320px; 
}

.header-login-name::before {
    content: url(../img/user.svg);
    padding-right: 15px;
}

.header-logout {
    margin-left: 20px; 
}

.header-cart {
    margin-left: 44px;
    padding-left: 22px;
    background: url(../img/cart.svg) no-repeat center left;
}

.header-search input[placeholder] {
    font-family: inherit;
    font-weight: inherit;
    color: var(--special-low-gray);
    height: 22px;
}

.header-delivery {
    margin-left: 264px;
}


.header-guarantee {
    margin-left: 35px;
}

.header-contacts {
    margin-left: 107px;
}

.header-logout a{ 
    font-size: 15px;
    line-height: 20px;
    color: var(--special-low-gray);
}

.header-delivery a:active {
    opacity: 0.3;
}

.header-guarantee a:active {
    opacity: 0.3;
}

.header-contacts a:active {
    opacity: 0.3;
}

.header-login-name:hover {
    opacity: 0.6;
}

.header-cart-catalog:hover {
    opacity: 0.6;
}

.main-logo:hover {
    opacity: 0.6;
}

.header-compare-catalog:hover {
    opacity: 0.6;
}

.catalog-menu:hover {
    opacity: 0.6;
}

.header-login:hover {
    opacity: 0.6;
}

.header-login {
    margin-left: 320px; 
    padding-left: 23px;
    background: url(../img/user.svg) no-repeat center left;
 }

.header-compare:hover {
    opacity: 0.6;
}

.header-cart:hover {
    opacity: 0.6;
}


.header-delivery a:hover {
    opacity: 0.6;
}

.header-guarantee a:hover {
    opacity: 0.6;
}

.header-contacts a:hover {
    opacity: 0.6;
}


.header-contacts a:focus {
    opacity: 0.3;
}

.header-login-name:focus {
    opacity: 0.3;
}

.header-cart-catalog:focus {
    opacity: 0.3;
}

.header-compare-catalog:focus {
    opacity: 0.3;
}

.header-login:focus {
    opacity: 0.3;
}

.header-cart:focus {
    opacity: 0.3;
}

.catalog-menu:focus {
    opacity: 0.3;
}

.main-logo:active {
    opacity: 0.3;
}

.catalog-menu:active {
    opacity: 0.3;
}

.header-delivery a:focus {
    opacity: 0.3;
}

.header-guarantee a:focus {
    opacity: 0.3;
}

.header-compare:focus {
    opacity: 0.3;
}

.header-login-name:active {
    opacity: 0.3;
}

.header-cart-catalog:active {
    opacity: 0.3;
}
.header-compare-catalog:active {
    opacity: 0.3;
}
.header-login:active {
    opacity: 0.3;
}

.header-compare:active {
    opacity: 0.3;
}

.header-cart:active {
    opacity: 0.3;
}

/* Header END */

/* Footer */

.main-footer {
    background: var(--basic-dark);
    height: 324px;
}

.footer-nav-btn a {
    color: var(--special-footer-nav);
}

.footer-nav-item a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

.main-footer .number {
    color: var(--basic-white);
    margin-top: 22px;
    text-align: right;
}


.footer-logo {
    display: block;
    margin-top: 48px;
}

.footer-act {
    list-style: none;
    display: flex;
    padding: 0;
    grid-column: 2/4;
    margin-left: auto;
    height: 20px;
    margin-top: 30px;
    margin-right: 3px;
}

.footer-act-compare {
    margin-left: 40px;
    padding-left: 25px;
    background: url(../img/compare-yellow.svg) no-repeat center left;
}

.footer-act-cart {
    margin-left: 43px;
    padding-left: 20px;
    background: url(../img/cart-yellow.svg) no-repeat center left;
}

.footer-act-login {
    padding-left: 22px;
    background: url(../img/user-yellow.svg) no-repeat center left;
}

.footer-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer-container {
    margin: 0 auto;
    width: 1160px;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 100px 56px;
    padding-top: 17px;
}

.social-footer-container::before {
    content: "";
    width: 80px;
    height: 7px;
    background: var(--special-social-icons);
    position: relative;
    top: 12px;
}

.main-footer-container-catalog::after {
    left: -240px;
}

.footer-nav-contacts {
    margin-left: 33px;
}

.htmlacademy-container {
    padding: 0;
    margin-left: 53px;
}

.htmlacademy:hover {
    opacity: 0.6;
}

.social-footer-container {
    margin: 0 auto;
    width: 1160px;
    margin-top: 55px;
    display: flex;
}

.footer-act-logout {
     margin-left: 24px;
 }

.footer-act-login:active {
    opacity: 0.3;
}

.footer-act-logout:active {
    opacity: 0.3;
}

.footer-act-compare:active {
    opacity: 0.3;
}

.footer-act-cart:active {
    opacity: 0.3;
}

.footer-nav-delivery:active {
    opacity: 0.3;
}

.footer-nav-guarantee {
    margin-left: 34px;
}

.footer-nav-guarantee:active {
    opacity: 0.3;
}

.footer-nav-contacts:active {
    opacity: 0.3;
}

.footer-act-login:hover {
    opacity: 0.6;
}

.footer-act-logout:hover {
    opacity: 0.6;
}

.footer-act-compare:hover {
    opacity: 0.6;
}

.footer-act-cart:hover {
    opacity: 0.6;
}

.footer-nav-delivery:hover {
    opacity: 0.6;
}

.footer-nav-guarantee:hover {
    opacity: 0.6;
}

.footer-nav-contacts:hover {
    opacity: 0.6;
}

.footer-logo:hover {
    opacity: 0.6;
}

.htmlacademy:active {
    opacity: 0.3;
}

.footer-logo:active {
    opacity: 0.3;
}

.facebook {
    opacity: 0.3;
}

.facebook:hover {
    opacity: 1;
}

.instagram {
    opacity: 0.3;
}

.instagram:hover {
    opacity: 1;
}

.twitter {
    opacity: 0.3;
}

.twitter:hover {
    opacity: 1;
}

/* Footer END */

.bread-crumb:active {
    opacity: 0.1;
}

.nav-catalog .catalog-menu{
    padding-right: 34px;
    letter-spacing: 0.1em;
}